<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./group.component.css">
</head>
<body>
    <button class="dropdown-item" id="superAdmin" type="button" routerLink="/superAdmin">Super Admin</button>
    <button class="dropdown-item" id="groupAdmin" type="button" routerLink="/groupAdmin">Group Admin</button>
    <button class="dropdown-item" id="user" type="button" routerLink="/chatUser">User</button>
</body>
</html>