h3{
    color: rgb(8, 73, 153);
    font-weight: 700;
    margin: 50px 150px 100px;
}

#logout{
    background-color: rgb(8, 73, 153);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px 15px 5px;
    margin-left: 150px;
    margin-top: 150px;
}
#delete{
    background-color: rgb(8, 73, 153);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px 15px 5px;
    margin-left: 25px;
    margin-top: 150px;
}